<div class="container">
    <h2>Cadastro de Proposta de Crédito</h2>
    <hr>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a routerLink="proposta" class="btn btn-primary active" role="button" routerLinkActive="active">Listar Propostas</a>
            </li>
            <li class="nav-item" style="margin-left: 10px;">
                <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Nova Proposta</a>
            </li>
        </ul>

    </nav>
    <router-outlet></router-outlet>
</div>